<h1>жБЛAIрЯТЧ</h1>

<%= form_with model: @user do |f| %>

  <div class="field">
    <%= f.label :name, "гГ¶гГЉгВґгГЉеРН" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password, "гГСгВєгГѓгГЉгГЙ" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "зЩїйМ≤гБЩгВЛ", class: "heart-btn" %>
  </div>

<% end %>